<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suda.yzune.wakeupschedule">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.ScheduleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".view.activity.AboutActivity" />
        <activity android:name=".view.activity.TodayCourseActivity" />
        <activity android:name=".view.activity.ViewOtherCourse" />
        <activity android:name=".view.activity.LoginXKActivity" />

        <receiver
            android:name=".view.TodayWidget"
            android:label="当天">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="day.TYPE_LIST" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/today_widget_info" />
        </receiver>

        <service
            android:name=".service.ListViewService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".view.activity.FixActivity" />
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="设置" />
        <activity
            android:name=".view.activity.TimeSettingActivity"
            android:label="上课时间设置" />
        <activity
            android:name=".view.activity.IntroActivity"
            android:theme="@style/AppTheme.splash" />
        <activity
            android:name=".view.activity.DecodeActivity"
            android:label="课程解析" />
        <activity android:name=".view.activity.ShareActivity" />

        <receiver
            android:name=".view.ScheduleWidget"
            android:label="整周">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="schedule.TYPE_LIST" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_widget_info" />
        </receiver>

        <service
            android:name=".service.ScheduleWidgetService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".view.activity.DonateActivity"
            android:label="捐赠" />
        <activity
            android:name=".view.activity.ThemeSettingsActivity"
            android:label="自定风格" />
        <activity android:name=".view.Main2Activity"></activity>
    </application>

</manifest>